.presentation-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  float: left;
  width: 100%;
}
.presentation-container .button-container {
  float: left;
  width: 100%;
  padding: 10px;
}
.presentation-container .presentation-table {
  float: left;
  width: 100%;
}
.presentation-container .main {
  display: block!important;
  padding: 10px;
}
.presentation-container .table-row {
  overflow: hidden;
  float: left;
  width: 100%;
  display: inline-flex;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}
.presentation-container .table-col {
  overflow: hidden;
  border-right: 1px solid #dfdfdf;
  padding: 10px;
  text-align: center;
  width: 10%;
}
.presentation-container .end {
  border-right: 0;
}
.presentation-container .fa {
  margin-right: 5px;
}
.view-distributor {
  background-color: white;
  border-radius: 6px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.view-distributor .text-label-header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.view-distributor .row-field {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.view-distributor .info-card {
  position: relative;
}
.view-distributor .info-card .menu-buttons {
  position: absolute;
  right: 0px;
}
.view-distributor .info-card .menu-buttons .edit-button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ccc;
  padding: 5px;
  color: #333;
  float: left;
}
.view-distributor .info-card .menu-buttons .flow-chart {
  margin-left: 10px;
}
.view-distributor .info-card .avatar {
  float: left;
  padding: 2px;
  border: 1px solid #ccc;
}
.view-distributor .info-card .avatar img {
  height: 50px;
  width: 50px;
}
.view-distributor .info-card .deets {
  float: left;
  margin-left: 10px;
}
.view-distributor .info-card .deets .name {
  font-weight: bold;
}
.view-distributor .clients-list {
  float: left;
  overflow-y: scroll;
  height: 230px;
  width: 100%;
}
.view-distributor .clients-list .clients-item {
  float: left;
  width: 33%;
  margin-right: .3%;
}
.view-distributor .clients-list .clients-item .info-card {
  float: left;
  width: 100%;
}
