.presentation-container{
  background-color:white;
  border: 1px solid #ccc;
  border-radius: 6px;
  float:left;
  width:100%;
  .button-container{
    float:left;
    width:100%;
    padding: 10px;
  }
  .presentation-table{
    float:left;
    width:100%;
  }
  .main{
    display: block!important;
    padding:10px;
  }
  .table-row{
    overflow: hidden;
    float: left;
    width: 100%;
    display: inline-flex;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
  }
  .table-col{
    overflow: hidden;
    border-right: 1px solid #dfdfdf;
    padding: 10px;
    text-align: center;
    width: 10%;
  }
  .end{
    border-right: 0;
  }
  .fa{
    margin-right:5px;
  }

}


.view-distributor{
  background-color:white;
  border-radius: 6px;
  float:left;
  width: 100%;
  margin-bottom: 20px;
  .text-label-header{
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }
  .row-field{
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  .info-card{
    position: relative;
    .menu-buttons{
      position: absolute;
      right:0px;
      .edit-button{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        background-color: #ccc;
        padding: 5px;
        color: #333;
        float:left;
      }
      .flow-chart{
        margin-left:10px;
      }
    }
    .avatar{
      float:left;
      padding: 2px;
      border: 1px solid #ccc;
      img{
        height: 50px;
        width: 50px;
      }
    }
    .deets{
      float:left;
      margin-left:10px;
      .name{
        font-weight: bold;
      }
    }
  }
  .clients-list{
    float: left;
    overflow-y: scroll;
    height:230px;
    width: 100%;
    .clients-item{
      float:left;
      width: 33%;
      margin-right: .3%;
      .info-card{
        float:left;
        width: 100%;
      }

    }
  }
}

